{% extends 'base.html.twig' %}

{% block title %}Hem{% endblock %}

{% block body %}
    <h2>Välkommen till min me-sida!</h2>
    <p>Jag heter Tuan Anh Pham och detta är min sida för MVC-kursen. Här kommer jag att presentera mig själv och mina redovisningar.</p>
    <img src="{{ asset('build/images/profile_bild.jpg') }}" alt="Bild på mig" class="profile-image">
{% endblock %}