{% extends 'base.html.twig' %}

{% block title %}API Overview{% endblock %}

{% block body %}
<h1>JSON API Overview</h1>
<p>Below is a list of available JSON API routes:</p>
<ul>
    {% for route in routes %}
        <li><strong>{{ route.route }}</strong>: {{ route.description }}</li>
    {% endfor %}
</ul>
{% endblock %}