{% extends 'base.html.twig' %}

{% block title %}API Overview{% endblock %}

{% block body %}
<div class="api-title">
    <h1>JSON API Overview</h1>
    <p>Below is a list of available JSON API routes</p>
</div>
<div class="api-routes">
    {% for route in routes %}
        <div class="api-route">
            <strong>{{ route.route|raw }}</strong>
            <p>{{ route.description|raw }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}